<!DOCTYPE HTML>
<html>
	<head>
		<title>Rajendra Kadam</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<section id="header">
				<header>
					
					<h1 id="logo"><a href="#">Rajendra Kadam</a></h1>
					<p>I got reprogrammed by a rogue AI<br />
					and now I'm totally on machine learning</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('codesnippets') }}">Code Snippets</a></li>
						<li><a href="#one" class="active">About</a></li>
						<li><a href="#two">Things I Can Do</a></li>
						<li><a href="#three">A Few Accomplishments and my certificates</a></li>
						<li><a href="#four">Contact</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="https://www.facebook.com/rajendra.kadam.165" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://github.com/raju249" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="container">
									<header class="major">
										<h2>Hi everyone!!</h2>
										<p>This Website is built so as to make code snippets available for free!!<br /></p>
									</header>
									<p>I built this website so as to get experience how to build a website from
										scratch and also my friends needed some help in Data Structures which is in our college syllabus.
									    But as you know we had great teachers :XD from our college who teach us this concepts.And there was no need to work on this website.You can browse the contents below. <strong>HAPPY CODING!!</strong></p>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>Things I Can Do</h3>
									<p>I would just introduce myself in this section :) Thanks for reading.</p>
									<ul class="feature-icons">
										<li class="fa-code">Write all the code for anyone</li>
										<li class="fa-cubes">Stack small boxes</li>
										<li class="fa-book">Read books and stuff of great people like <strong>Larry Page,Steve Jobs</strong></li>
										<li class="fa-coffee">Drink much coffee while coding late night</li>
										<li class="fa-bolt">Lightning bolt when I think something big</li>
										<li class="fa-users">Shadow clone technique</li>
									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>A Few Accomplishments and my certificates</h3>
									<p>I wasted my vacation learning something new and earning cerificates(Ok! I was kidding...).I used my vacation after my second semester to learn something new and in that process I earned following certificates.</p>
									<strong>You can click on any certificates to see my grades and certificates</strong>
									<br>
									<div class="features">
										<article>
											<a href="https://www.coursera.org/account/accomplishments/records/ayhFt5acG7ySqRXC" class="image" target = "blank"><img src="../static/images/GAME.png" alt="" /></a>
											<div class="inner">
												<h4>Basic Game Programming in C#</h4>
												<p>So I was introduced to make games in C#.This course was offered by University of Colorado systems in association with Coursera.</p>
											</div>
										</article>
										<article>
											<a href="https://www.coursera.org/account/accomplishments/records/VGK6Q7MEMREN" class="image" target = "blank"><img src="../static/images/IHT.png" alt="" /></a>
											<div class="inner">
												<h4>Internet History,Technology and Security by University of Michigan</h4>
												<p>This course introduced me to how internet was evolved with time and brief introduction to security over internet.This course also talks about the four layers involved in designing the Internet.</p>
											</div>
										</article>
										<article>
											<a href="https://www.coursera.org/account/accomplishments/records/jCd49AeBuSCcNET2" class="image" target = "blank"><img src="../static/images/IIPP1.png" alt="" /></a>
											<div class="inner">
												<h4>Introduction to Interactive programming in Python.</h4>
												<p>This was a tough course as it involved writing around 200+ lines of code for a single assignment and the langauge I learned here is Python(My favourite) which is also used to build this website.It was offered by Rice University.This course has around 5 parts which involves in depth understanding of computer programming using Python.And I just love Python.</p>
											</div>
										</article>
										<article>
											<a href="https://www.coursera.org/account/accomplishments/records/DE4uED6rwW387STf" class="image" target = "blank"><img src="../static/images/PR4E.png" alt="" /></a>
											<div class="inner">
												<h4>This course has basic intro to Python as a language.</h4>
												<p>This course had basic assignments which are quite easy to complete and shows you the power of Python.</p>
											</div>
										</article>
										<p>There are more certis out there.But I may display just few of them.You can check them on my <a href="https://in.linkedin.com/pub/rajendra-kadam/a3/978/a6b" target = "blank">LinkedIn Profile here </a>if you want.I have listed them for my potential employers to see.</p>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four">
								<div class="container">
									<h3>Contact Me</h3>
									<p>You can message me or email me anytime you need help when there is a problem with your code.You can message me on facebook as well.Click the icon that is at the bottom right-hand-side to check my profile.</p>
									<h4>My WhatsApp number</h4>
									<strong>+919821320844</strong>
									<br>
									<h4>My email id: </h4>
									<strong>rajendra.kadam@somaiya.edu</strong>
								</div>
							</section>

					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; rajendrakadam.me All rights reserved.</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollzer.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<!--[if lte IE 8]><script src="../static/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/js/main.js"></script>

	</body>
</html>